/* #region 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* #endregion 基础设置end */

/* #region 顶部导航栏 */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}

.welcome {
    height: 30px;
    font-size: 0px;
    line-height: 30px;
    color: #666;
}
.welcome span,.welcome a{
    font-size: 12px;
}
.welcome span:first-child {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    margin-left: 10px;
}
.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li{
    float: left;
}
.topbar-nav .list li a{
    color: #666;
    font-size: 12px;
    padding: 0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0px;
}
.topbar-nav .list li:last-child a{
    padding-right: 0px;
    border: 0;
}



/* #endregion 顶部导航栏end */

/* #region 头部 */
.header {
    height: 120px;
    background-color: skyblue;
}
.header .sercher form {
    margin-top: 42px;
    font-size: 0;
}
.header .sercher form input {
    width: 508px;
    height: 34px;
    border: 1px solid red;
}
.header .sercher form button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url(../../images/serch_icon.png);
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion 头部end */



/* #region 主导航 */
.main-navbar {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.main-navbar .alltype {
    width: 190px;
    background-color: #DD302D;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.main-nav-list {
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
.main-nav-list li {
    float: left;
    margin: 0 10px;
}

/* #endregion 主导航end */



























